.marquee-section {
  background: #0f172a;
  padding: 60px 0;
  overflow: hidden;
}

/* MARQUEE ROW */
.marquee {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 30px;
}

/* IMAGE TRACK */
.track {
  display: inline-flex;
  animation: scroll 25s linear infinite;
}

.marquee.reverse .track {
  animation: scrollReverse 25s linear infinite;
}

/* IMAGES */
.track img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 0 15px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.track img:hover {
  transform: scale(1.08);
}

/* ANIMATIONS */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollReverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
